<section class="c-media{{#if isVideo}} c-media--video{{/if}}{{#if srcImage}} c-media--picture{{/if}}{{#if overlay}} c-media--overlay{{/if}}">

    {{#if srcImage}}
        <picture class="c-media__picture">
            <source media="(min-width: 1440px)" srcset="{{ srcImageDesktop }}">
            <source media="(min-width: 1024px)" srcset="{{ srcImageLaptop }}">
            <source media="(min-width: 768px)" srcset="{{ srcImageTablet }}">
            <source media="(min-width: 450px)" srcset="{{ srcImageMobile }}">
            <img src="{{ srcImage }}">
        </picture>
    {{/if}}

    {{#if srcVideo}}
        <video controls crossorigin playsinline poster="{{poster}}" class="c-hero__video c-media-player"
               data-object-fit="cover">
            <!-- Video files -->
            <source src="{{src}}" type="video/mp4">
            <!-- Fallback for browsers that don't support the <video> element -->
            <a href="{{src}}" download>Download</a>
        </video>
    {{/if}}
    {{#if srcYoutubeId}}
        <div class="c-media-player" data-plyr-provider="{{provider}}" data-plyr-embed-id="{{srcYoutubeId}}"></div>
    {{/if}}
    {{#if srcVimeoId}}
        <div class="c-media-player" data-plyr-provider="{{provider}}" data-plyr-embed-id="{{srcVimeoId}}"></div>
    {{/if}}


    {{#if caption}}
        <div class="c-media__caption">Media caption</div>
    {{/if}}
</section>


