<h1 class="u-h1">Typography</h1>
<h2>Headers</h2>

<div class="demo-wrapper__section">

    <label class="u-caption">Heading 1</label>
    <h1 class="u-h1">{{text}}</h1>

    <label class="u-caption">Heading 2</label>
    <h2 class="u-h2">{{text}}</h2>

    <label class="u-caption">Heading 3</label>
    <h3 class="u-h3">{{text}}</h3>

    <label class="u-caption">Heading 4</label>
    <h4 class="u-h4">{{text}}</h4>

    <label class="u-caption">Heading 5</label>
    <h5 class="u-h5">{{text}}</h5>

    <label class="u-caption">Heading 6</label>
    <h6 class="u-h6">{{text}}</h6>

</div>
<div class="demo-wrapper__section">
    <label class="u-caption">Paragraph</label>
    <p>{{text}}</p>

    <label class="u-caption">Caption</label>
    <br>
    <label class="u-caption">{{text}}</label>
</div>
<div class="demo-wrapper__section">
    <h6>Links</h6>
    <p>The quick brown fox <a href="javascript:void(0);">link</a> jumps over the lazy dog</p>
</div>
<div class="demo-wrapper__section">
    <h6>Unordered list</h6>
    <ul>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
        <li>Unordered list item</li>
    </ul>
</div>
<div class="demo-wrapper__section">
    <h6>Ordered list</h6>
    <ol>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
        <li>Ordered list item</li>
    </ol>
</div>
<div class="demo-wrapper__section">
    <h6>Bold</h6>
    <p><strong>{{text}}</strong></p>
</div>
<div class="demo-wrapper__section">
    <h6>Italic</h6>
    <p><em>{{text}}</em></p>
</div>
<div class="demo-wrapper__section">
    <h6>Underline</h6>
    <p><u>{{text}}</u></p>
</div>
<div class="demo-wrapper__section">
    <h6>Strike-through</h6>
    <p>The quick brown fox <s>strikethrough text</s> jumps over the lazy dog</p>
</div>
<div class="demo-wrapper__section">
    <h6>Subscript</h6>
    <p>The quick brown fox <sub>subscripted text</sub> jumps over the lazy dog</p>
</div>
<div class="demo-wrapper__section">
    <h6>Superscript</h6>
    <p>The quick brown fox <sup>superscripted text</sup> jumps over the lazy dog</p>
</div>
