<div class="demo-wrapper">
    {{ render '@button--primary'}}
    <br>
    {{ render '@button--secondary'}}
    <br>
    {{ render '@button--ghost'}}
    <br>
    {{ render '@button--icon-primary'}}
    <br>
    {{ render '@button--icon-secondary'}}
    <br>
    {{ render '@button--linkbutton'}}
    <br>
    {{ render '@button--linkbutton-secondary'}}
    <br>
    {{ render '@button--disabled'}}
</div>
